.container-category{
    padding-top: 30px;
    width: 60%;
    margin: auto;
}

#banner-categoria{
    background-color: #161313;
    width: 100%;
}

#banner-categoria h1 a{
    color: white;
    text-decoration: none;
}

.galeria-category {
    overflow: hidden;
    width: 100%;
    list-style: none;
    flex-wrap: wrap;
    display: inline-flex;
}

.galeria-category li{
    width: 30%;
    background-color: white;
    border: 10px solid #F5F5F5;
    overflow: hidden;
    
}

.galeria-category  li a img{
    width: 100%;
    height: 170px;
}

.galeria-category  li a{
    text-decoration: none;
    color:  rgb(37, 25, 25);
}


@media(max-width:600px){
    .galeria-category {
        overflow: hidden;
        width: 100%;
        list-style: none;
        flex-wrap: wrap;
        display: inline-block;
    }

    .galeria-category li{
        width: 100%;
        background-color: white;
        border: 10px solid #F5F5F5;
        overflow: hidden;

    }

    .galeria-category  li a img{
        width: 100%;
        height: 170px;
    }

    .galeria-category  li a{
        text-decoration: none;
        color:  rgb(37, 25, 25);
    }
}

