.cuartaseccion{

    width: 90%;
    margin: auto;
    word-wrap: break-word;
    
}

.cuartaseccion .cuarta-1{
    background-color: #0C1A1E;
    color: white;
    text-align: center;
    
    padding: 5px;
}


.cuartaseccion .cuarta-2 {
    width: 100%;
    color: #0C1A1E;
    display: inline-flex;
}

.texto-cuarta{
    width: 90%;
    margin: auto;
}

 
.cuartaseccion .cuarta-2 ul{
    overflow: hidden;
    width: 100%;
    list-style: none;
    flex-wrap: wrap;
    display: inline-flex;
    background-color: rgb(255, 255, 255);
    
}


.cuartaseccion .cuarta-2 ul li{
    width: 23.3%;
    overflow: hidden;
    margin: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.199) ;
    color: rgb(8, 8, 8);
    
}

.cuartaseccion .cuarta-2 ul li img{
    width: 100%;
    height: 200px;
}


.cuartaseccion .cuarta-2 ul li a{
    text-decoration: none;
    color:  rgb(8, 8, 8);
    
}

.cuartaseccion .cuarta-2 ul li .sociales{
    margin: auto;
    width: 100%;
    padding-top: 20px;
    font-size: 1.5em;
    text-align: center;
}



@media(max-width:690px){
    .cuartaseccion{
        text-align: center;
        width: 100%;
        margin: auto;
        display: inline-block;
        
        
    }

    .cuartaseccion .cuarta-2 ul{
        overflow: hidden;
        width: 100%;
        list-style: none;
        box-sizing: border-box;
        flex-wrap: wrap;
        display: inline-block;
        z-index: 20;
        margin: auto;
    }

    .cuartaseccion .cuarta-2 ul li{
        width: 90%;
        background-color: white;
        overflow: hidden;
        padding-bottom: 10px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.199) ;
    }

    .cuartaseccion .cuarta-2 ul li h2{
        width: 80%;
        margin: auto;
        font-size: 1.2em;
    }

    .cuartaseccion .cuarta-2 ul li p{
        display: none;
        
    }

    .cuartaseccion .cuarta-2 ul li .sociales{
        display: none;
    }
}