.decima-seccion{

    width: 90%;

    margin: auto;

    word-wrap: break-word;

    overflow: hidden;

    color: white;

    background-color: black;

}





.titulo-decima{

    background-color: firebrick;
    text-align: center;
    padding: 8px;

}



.youtube-channel{

    margin: auto;

    text-align: center;

}

.youtube-channel ul{

    overflow: hidden;

    margin: 0;

    padding: 0;

    width: 100%;

    list-style: none;

    flex-wrap: wrap;

    display: inline-flex;

    margin: auto;

}

.youtube-channel ul li{

    width: 48%;

    height: 400px;

    overflow: hidden;

    margin: auto;

   

}



.youtube-channel ul li iframe{

    max-width: 98%;

    width: 98%;

    height: 98%;

}

.youtube-channel2 ul{

    display: inline-flex;

}



.youtube-channel2 ul li{

    width: 33%;

    padding: 10px;

    margin: auto;

    background-color: firebrick;

}

.youtube-channel2 ul li iframe{

    max-width: 98%;

    width: 98%;

    height: 98%;

}



@media(max-width:600px){

    .decima-seccion{

        display: none;

    }

}



