.novena-seccion{

   width: 90%;

    margin: auto;

    word-wrap: break-word;

    overflow: hidden;

}



.titulo-novena{

    background-color: #0C1A1E;
    text-align: center;
    color: white;
    padding: 8px;

}





.titulo{

    border: 0px;

    margin: 0;

    padding: 0;

    color: black;

    text-align: center;

    border-bottom: 1px solid black;

}

.secciones-novena{

   

}

.secciones-novena ul {

    overflow: hidden;

    margin:auto;

    padding: 0;

    width: 100%;

    list-style: none;

    flex-wrap: wrap;

    display: inline-flex;

    

    

}

.secciones-novena ul li{

    width: 24%;

    padding: 3px;

    border: 3px solid #EEEEEE;

    overflow: hidden;

    background-color: white;

    

}

.secciones-novena ul li img{

    width: 100%;

    height: 150px;

}



.secciones-novena ul li a {

    text-decoration: none;

    color: black;

}







.container-seccion9{

    width: 90%;

    margin: auto;

    background-color: #130F0F;

}



.titulo-edicion{

    background-color:#130F0F;

    color: white;

    text-align: center;

}



.titulo-edicion h1{

    color: white;

    font-family: 'Roboto Slab', serif;

}





.contenido-edicion{

    text-align: center;

    margin: auto;

    padding: 10px;

}



.contenido-edicion a{

    padding-left: 10px;

}







@media(max-width:600px){

    .secciones-novena ul {

        overflow: hidden;

        margin:auto;

        padding: 0;

        width: 100%;

        list-style: none;

        flex-wrap: wrap;

        display: inline-block;

    }

    .secciones-novena ul li{

        width: 100%;

        padding: 3px;

        border: 3px solid #EEEEEE;

        overflow: hidden;

        background-color: white;



    }

}

