.octavaseccion{

    width: 90%;

    margin: auto;

    word-wrap: break-word;

    overflow: hidden;

    

    padding: 0;

}



.octavaseccion .octava-1{

    
    width: 100%;

    margin: auto;

    word-wrap: break-word;

    overflow: hidden;

    background-color: #0C1A1E;
    text-align: center;
    color:white;

}

.secciones-octava{

    margin: 0;

    padding: 0;

}

.secciones-octava ul {

    overflow: hidden;

    

    padding: 0;

    width: 100%;

    list-style: none;

    flex-wrap: wrap;

    display: inline-flex;
    margin: auto;
    

}

.secciones-octava ul li{

    width: 32%;

    background-color: white;

    margin: 4px;

    overflow: hidden;

    

}

.secciones-octava ul li img{

    width: 100%;

    height: 250px;

}







.secciones-octava .titulo{

    

    color: #0C1A1E;

    text-align: center;

    

}



@media(max-width:690px){

    .octavaseccion{

        text-align: center;

        width: 100%;

        margin: auto;

        display: inline-block;

        

        

    }



    .octavaseccion .secciones-octava ul{

        overflow: hidden;

        width: 100%;

        list-style: none;

        box-sizing: border-box;

        flex-wrap: wrap;

        display: inline-block;

        z-index: 20;

        margin: auto;

    }



    .octavaseccion .secciones-octava ul li{

        width: 90%;

        background-color: white;

        overflow: hidden;

        padding-bottom: 10px;

        border-bottom: 2px solid rgba(0, 0, 0, 0.199) ;

    }



    .octavaseccion .secciones-octava ul li h2{

        width: 80%;

        margin: auto;

        font-size: 1.2em;

    }

}



