.palabrerio{
     width: 90%;
    margin: auto;
    word-wrap: break-word;
    overflow: hidden;
}


.palabrerio .titulo-palabrerios{
    background-color: #161313;
    color: white;
}


.contenido-palabrerio ul{
    overflow: hidden;
    width: 100%;
    list-style: none;
    flex-wrap: wrap;
    display: inline-flex;
}


.contenido-palabrerio ul li{
    width: 30%;
    background-color: white;
    border: 5px solid #F5F5F5;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.199) ;
    display: inline-flex;
}

.contenido-palabrerio ul li img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.contenido-palabrerio ul li h1{
    font-size: 1.2em;
}
.contenido-palabrerio ul li a{
    text-decoration: none;
    color:  rgb(37, 25, 25);
    
    
}


@media(max-width:600px){
    
    .contenido-palabrerio ul{
        overflow: hidden;
        width: 100%;
        list-style: none;
        flex-wrap: wrap;
        display: inline-block;
    }
    .contenido-palabrerio ul li{
        width: 100%;
        background-color: white;
        border: 5px solid #F5F5F5;
        overflow: hidden;
        border-bottom: 1px solid rgba(0, 0, 0, 0.199) ;
        display: inline-block;
    }
}