.publicidad{
    width: 90%;
    overflow: hidden;
    margin: auto;
}



.publicidad-titulo{
    width: 100%;
    margin: auto;
}

.publicidad-titulo h2{
    color: white;
}


.publicidad-pc-costadoderecho{
    
    position: fixed;
    height:300px; 
    width:100px;
}


.publicidad-grande{
    width:90%;  
    ;margin:auto; 
}

.publicidad-contenido{
    margin:auto; 
    padding:0;
    text-align: center;
    
}

.publicidad-contenido ul{
    display: inline-flex;
    text-align: center;
    margin: auto;
    width: 100%;
    

}
.publicidad-contenido ul li{
    padding: 10px;
    width: 33.3%;
    max-width: 33.3%;
}


.publicidad-contenido ul li img{
    width: 100%;
    height: 350px;
}


@media(max-width:800px){
    .publicidad-grande{
        display: none;
    }
}
