.quintaseccion{
    width: 90%;
    margin: auto;
    word-wrap: break-word;
    overflow: hidden;
    
}


.quintaseccion .quinta1{
    width: 100%;
    
    background-color: #0C1A1E;
    color: white;
    text-align: center;
    
    padding: 5px;
}

.quintaseccion .quinta1-3{
    width: 100%;
    color: #0C1A1E;
    display: inline-flex;
}

.quintaseccion .quinta1-3 ul{
    overflow: hidden;
    width: 100%;
    list-style: none;
    flex-wrap: wrap;
    display: inline-flex;
    
}

.quintaseccion .quinta1-3 ul li{
    width:10%;
    text-align: center;
    overflow: hidden;
    
}

.quintaseccion .quinta1-3 ul li .servicio{
    width: 75%;
    margin: auto;
}

.servicio a{
    color: white;
}


.quintaseccion .quinta1-3  ul li img{
    width: 80%;
    height: 100px;
}
.quintaseccion .quinta2{
    width: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.quintaseccion .quinta1 .quinta1-2{
    color: white;
    
}
.quinta2-1 {
    padding-top: 10px;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: #0C1A1E;
}


.quintaseccion .quinta1-3 ul li a{
    text-decoration: none;
    color:  rgb(255, 255, 255);
    
}

.quintaseccion .quinta1-3 ul li .sociales{
    margin: auto;
    width: 100%;
    padding-top: 20px;
    font-size: 1.5em;
    text-align: center;
}

.quintaseccion .flex{
    display: inline-flex;
    margin: auto;
    width: 60%;
    text-align: center;
}
.quintaseccion .quinta2-2{
    width: 50.0%;
    color: white;
}
.quintaseccion .quinta2-3{
    width: 50.0%;
    color: white;
}



@media(max-width: 690px){
    .quintaseccion{
        width: 100%;
    }
    .quintaseccion .quinta1{
        width: 100%;
    }
    .quintaseccion .quinta1 .quinta1-2{
        width: 100%;
    }
    .quintaseccion .quinta1-3 ul{
        margin: auto;
    }
    .quintaseccion .quinta1-3 ul li{
        width: 43%;
        background-color: white;
        border: 10px solid #F5F5F5;
        overflow: hidden;
        border-bottom: 1px solid rgba(0, 0, 0, 0.199) ;
        
    }
    .quintaseccion .quinta2{
        display: none;
    }
}