.redes-sociales{
    width: 100%;
}

.redes-sociales .titulo-red{
    width: 100%;
    text-align: center;
    color: white;
}


.redes-sociales .redes{
    display: inline-flex;
    width: 100%;
}

.redes-sociales .redes .facebook{
    width: 50%;
}

.redes-sociales .redes .twitter{
    max-width: 50%;
}