.segundaseccion{
    width: 90%;
    margin: auto;
    word-wrap: break-word;
    
}


.segundaseccion .segunda-1{
    
    /*background-image: url("https://preview.ibb.co/jKPB9J/subir1.png");*/
    background-color: #161313;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    width: 73%;
}

.segundaseccion .segunda-2{
    width: 100%;
    display: inline-flex;
}


.segundaseccion .segunda-2 ul{
    overflow: hidden;
    width: 100%;
    list-style: none;
    flex-wrap: wrap;
    display: inline-flex;
}

.background-category{
    color: #161313;
}

.segundaseccion .segunda-2 ul li{
    width: 30%;
    overflow: hidden;
    margin: 5px;
    color: black;
    background-color: white;
    -webkit-box-shadow: -3px 10px 10px -6px rgba(0,0,0,0.51);
    -moz-box-shadow: -3px 10px 10px -6px rgba(0,0,0,0.51);
    box-shadow: -3px 10px 10px -6px rgba(0,0,0,0.51);
     
    
}

.segundaseccion .segunda-2 ul li .texto-nota{
    width:85%;
    margin:auto;
}
.segundaseccion .segunda-2 ul li a{
    text-decoration: none;
    color: rgb(24, 23, 23);
    font-size: 1.2em;
    
}


.segundaseccion .segunda-2 ul li img:hover{
    transform: scale(1.01);
}


.segundaseccion .segunda-2 ul li .sociales{
    margin: auto;
    width: 100%;
    padding-top: 20px;
    font-size: 1.5em;
    text-align: center;
}


.segundaseccion .segunda-2 ul li a h3{
    width: 100%;
    margin: auto;
}

.segundaseccion .segunda-2 ul li a h3:hover{
    color: rgb(48, 40, 40);
}
.segundaseccion .segunda-2 ul li img{
    width: 100%;
    height: 200px;
}
#adsingle{
    
    width: 34%;
}

#adsingle img{
    width: 100%;
    height: 370px;
}

.contenido-publicitario {
    max-width: 90%;
    margin: auto;
}
.contenido-publicitario ul{
    width: 100%;
    display: inline-flex;
}

.contenido-publicitario ul li{
    width: 33%;
    padding: 10px;
}

.contenido-publicitario ul li img{
    width: 100%;
    max-width: 100%;
    height: 100%;
}

@media(max-width:690px){

    .contenido-publicitario ul{
        width: 100%;
        display: inline-block;
    }
    .contenido-publicitario ul li{
        width: 100%;
        
    }
    
    
    .segundaseccion{
        text-align: center;
        width: 100%;
        margin: auto;
        display: inline-block;
        
        
    }

    .segundaseccion .segunda-2 {
        overflow: hidden;
        width: 100%;
        list-style: none;
        box-sizing: border-box;
        flex-wrap: wrap;
        display: inline-block;
        z-index: 20;
    }
    .segundaseccion .segunda-2 ul{
        overflow: hidden;
        width: 100%;
        list-style: none;
        flex-wrap: wrap;
        display: inline-flex;
    }
    .segundaseccion .segunda-2 ul li{
        width: 100%;
        background-color: white;
        border: 10px solid #F5F5F5;
        overflow: hidden;
        padding-bottom: 10px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.199) ;
    }
    .segundaseccion .segunda-2 ul li p{
        display: none;
        
    }

    .segundaseccion .segunda-2 ul li .sociales{
        display: none;
    }
    #adsingle{
    
        width: 80%;
        margin: auto;
    }
    
    #adsingle img{
        
        height: 250px;
    }
    



}