.sextaseccion{
    width: 90%;
    margin: auto;
    word-wrap: break-word;
    overflow: hidden;
    
}

.sextaseccion .sexta-1{
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    text-align: center;
    
    background-color: #0C1A1E;
    padding: 10px;

}

.sextaseccion .sexta1-1{
    width: 80%;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.img2 img{
    height: 400px;
}

.contenido-item{
    position: absolute;
	bottom: 0;
	padding: 20px;
	background: rgba(0,0,0,0.7);
    color: #fff;
    width: 90%;
}

.contenido-item p{
}

.contenido-item a{
    text-decoration: none;
    color: rgb(27, 27, 27);

}

.sexta-3{
    background-color: #F5F5F5;
    width: 100%;
    color: #0C1A1E;
    display: inline-flex;
    position: relative;
    overflow: hidden;
}

.sexta-3 ul{
    overflow: hidden;
    width: 100%;
    list-style: none;
    flex-wrap: wrap;
    display: inline-flex;
}

.sexta-3 ul li{
    width: 26.5%;
    background-color: white;
    border-top: 2px solid white;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.199) ;
    
}

.sexta-3 ul li img{
    width: 100%;
    height: 200px;
}

.contenido-item2{
    position: absolute;
	bottom: 0;
    padding: 20px;
    width: 23.3%;
	background: rgba(0,0,0,0.7);
	color: #fff;
}

.contenido-item2 p{
}

.contenido-item2 a{
    text-decoration: none;
    color: rgb(12, 12, 12);

}

#publicidad-post{
    
}

#publicidad-post a img{
    height: 80%;
    margin: auto;
    
}

.septima1-2 ul li .contenido{
    width: 90%;
    margin: auto;
}

@media(max-width:690px){
    .sextaseccion{
        text-align: center;
        width: 100%;
        margin: auto;
        display: inline-block;
        
        
    }

    .sextaseccion .septima1-2 ul{
        overflow: hidden;
        width: 100%;
        list-style: none;
        box-sizing: border-box;
        flex-wrap: wrap;
        display: inline-block;
        z-index: 20;
        margin: auto;
    }

    .sextaseccion .septima1-2 ul li{
        width: 90%;
        background-color: white;
        overflow: hidden;
        padding-bottom: 10px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.199) ;
    }

    .sextaseccion .septima1-2 ul li h2{
        width: 80%;
        margin: auto;
        font-size: 1.2em;
    }
}