.terceraseccion{
    width: 90%;
    margin: auto;
    word-wrap: break-word;
    background-color: #0C1A1E;
}

.terceraseccion .tercera-1{
    background-color: #0C1A1E;
    color: white;
    text-align: center;
    padding: 5px;

}

.terceraseccion .tercera-2{
    width: 100%;
    color: white;
    display: inline-flex;
}
.terceraseccion .tercera-2 ul{
    overflow: hidden;
    width: 100%;
    list-style: none;
    flex-wrap: wrap;
    display: inline-flex;
    
}



.terceraseccion .tercera-2 ul li{
    width: 30%;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.199) ;
    margin: 10px;
}

.terceraseccion .tercera-2 ul li img{
    width: 100%;
    height: 200px;
}
.terceraseccion .tercera-2 ul li a{
    text-decoration: none;
    color:  white;
    
}

.terceraseccion .tercera-2 ul li .sociales{
    margin: auto;
    width: 100%;
    padding-top: 20px;
    font-size: 1.5em;
    text-align: center;
}


.terceraseccion .tercera-2 ul li a h3{
    width: 90%;
    margin: auto;
}

.propaganda1{
    
    width: 90%;
}

.propaganda1 img{
    width: 100%;
    height: 420px;
}
.publicidad-grande2{
    max-width: 100%;
    margin: auto;
    width:100%;
    
}


.button-mas a p{
    background-color: rgb(216, 117, 35);
    color: rgb(30, 19, 12);
    width: 40%;
    padding: 5px;
    border-radius: 3px;
    
    text-align: center;
}

.button-mas a p:hover{
    
    background-color: white;
    color: rgb(216, 117, 35);
}
.publicidad-contenidoimg{
    max-width: 100%;
    width:100%;
    text-align: center;
    margin:center;
}
.publicidad-contenidoimg2{
    max-width: 100%;
    width:100%;
    text-align: center;
    margin:center;
}
.publicidad-contenidoimg2  a img{
    width: 60%;
    height: 80%;
    text-align:center;
}
.publicidad-contenidoimg2  a{
    text-align: center;
    margin: auto;
}

.publicidad-contenidoimg img{
    width: 90%;
    height: 80%;
    text-align:center;
}

@media(max-width:690px){
    .terceraseccion{
        width: 100%;
        margin: auto;
        word-wrap: break-word;
    }

    .terceraseccion .tercera-2 ul{
        overflow: hidden;
        width: 100%;
        list-style: none;
        flex-wrap: wrap;
        display: inline-block;
        
    }

    .terceraseccion .tercera-2 ul li{
        width: 100%;
        overflow: hidden;
        display: inline-flex;
        border-bottom: 1px solid rgba(0, 0, 0, 0.199) ;
        display: inline-block;
        color: black;
        margin: auto;
    }

    #author-tercera{
        display: none;
    }
    .terceraseccion .tercera-2 ul li .img-tercera{
        width: 90%;
        margin: auto;
        overflow: hidden;
    }
    .terceraseccion .tercera-2 ul li .titulo-tercera{
        width: 90%;
        margin: auto;
        
        overflow: hidden;
    }
    .terceraseccion .tercera-2 ul li img{
        width: 100%;;
        height: 150px;
        
    }

    .terceraseccion .sociales{
        display: none;
    }

    .terceraseccion .tercera-2 ul li a h3{
       
        width: 100%;
        margin: auto;

    }

    .terceraseccion .tercera-2 ul li  p{
        display: none;
    }
    .propaganda1{
        display: none;
    }

    .publicidad-contenidoimg img{
        width: 100%;
        height: 100%;
    }
    .publicidad-contenidoimg2{
        max-width: 100%;
        width:100%;
        text-align: center;
        margin:center;
    }
    .publicidad-contenidoimg2 img{
        width: 100%;
        height: 100%;
    }

    .publicidad-contenidoimg2  a img{
        width: 100%;
        height: 100%;
        text-align:center;
    }
    
}